.wrapper{
	margin:50px 0 0 500px;
}
.main{
	position: relative;
}
.main .head{
	position: relative;
	width: 320px;
	height: 300px;
	border-radius: 150px;
	background: #07bbee;
	background: -webkit-radial-gradient(right top,#fff 10%,#07bbee 20%,#10a6ce 75%,#000);
	background: -moz-radial-gradient(right top,#fff 10%,#07bbee 20%,#10a6ce 75%,#000);
	background: -ms-radial-gradient(right top,#fff 10%,#07bbee 20%,#10a6ce 75%,#000);
	border:2px solid #555;
	box-shadow: -5px 10px 15px rgba(0,0,0,0.45);
}
.main .face{
	position: relative;
	z-index: 2;

}
.main .face .white{
	width: 265px;
	height: 195px;
	border-radius: 150px;
	background: #fff;
	position: absolute;
	top:75px;
	left: 25px;
	background: -webkit-radial-gradient(right top,#fff 75%,#eee 80%,#999 90%,#444);
	background: -moz-radial-gradient(right top,#fff 75%,#eee 80%,#999 90%,#444);
	background: -ms-radial-gradient(right top,#fff 75%,#eee 80%,#999 90%,#444);
}
.main .face .nose{
	width: 30px;
	height: 30px;
	border-radius: 15px;
	background: #c93300;
	border:2px solid #000;
	position: absolute;
	top:110px;
	left: 140px;
	z-index: 3;
}
.main .face .nose .hlight{
	width: 10px;
	height: 10px;
	border-radius: 5px;
	box-shadow: 19px 8px 5px #fff;
}
.main .face .nose_line{
	width: 3px;
	height: 100px;
	background: #000;
	position: absolute;
	top:143px;
	left:155px;
	z-index: 3;
}
.main .face .mouth{
	width: 220px;
	height: 400px;
	position: absolute;
	top:-160px;
	left: 45px;
	border-bottom: 3px solid #333;
	border-radius: 120px;
}
.main .eyes{
	position: relative;
	z-index: 3;
}
.main .eyes .eye{
	width: 72px;
	height: 82px;
	background: #fff;
	border:2px solid #000;
	border-radius: 35px;
	position: absolute;
	top:40px;
}

.main .eyes .left{
	left:82px;
}
.main .eyes .right{
	left:156px;
}
.main .eyes .eye .black{
	width: 14px;
	height: 14px;
	border-radius: 7px;
	background: #000;
	position:absolute;
	top:40px;
	-webkit-animation:eyemove 3s linear infinite;
	-moz-animation:eyemove 3s linear infinite;
	-ms-animation:eyemove 3s linear infinite;
	-o-animation:eyemove 3s linear infinite;
	animation:eyemove 3s linear infinite;
}
@keyframes eyemove{
	70%{
		margin: 0 0 0 0;
	}
	80%{
		margin:-22px 0 0 0;
	}
	85%{
		margin:-22px 0 0 5px;
	}
	90%{
		margin:-22px 10px 0 0;
	}
	93%{
		margin:-22px 0 0 0;
	}
	96%{
		margin:0 0 0 0;
	}
}
.main .eyes .eye .bleft{
	left: 50px;
}
.main .eyes .eye .bright{
	left: 7px;
}
.main .whiskers{
	width: 220px;
	height: 80px;
	background: #fff;
	border-radius: 15px;
	position: absolute;
	top:120px;
	left:45px;
}
.main .whiskers .whisker{
	width: 60px;
	height: 2px;
	background: #333;
	position:absolute;
}
.main .whiskers .rTop{
	left: 165px;
	top:25px;
	-webkit-transform:rotate(-20deg);
	-moz-transform:rotate(-20deg);
	-o-transform:rotate(-20deg);
	-ms-transform:rotate(-20deg);
	transform: rotate(-20deg);
}
.main .whiskers .rMiddle{
	left: 167px;
	top:45px;
}
.main .whiskers .rBottom{
	left: 165px;
	top:65px;
   -webkit-transform:rotate(20deg);
	-moz-transform:rotate(20deg);
	-o-transform:rotate(20deg);
	-ms-transform:rotate(20deg);
	transform: rotate(20deg);

}
.main .whiskers .lTop{
	left: 0;
	top:25px;
	-webkit-transform:rotate(20deg);
	-moz-transform:rotate(20deg);
	-o-transform:rotate(20deg);
	-ms-transform:rotate(20deg);
	transform: rotate(20deg);
}
.main .whiskers .lMiddle{
	left: -2px;
	top:45px;
}
.main .whiskers .lBottom{
	left: 0;
	top:65px;
	-webkit-transform:rotate(-20deg);
	-moz-transform:rotate(-20deg);
	-o-transform:rotate(-20deg);
	-ms-transform:rotate(-20deg);
	transform: rotate(-20deg);
}
.main .choker{
	width: 230px;
	height: 20px;
	background: #c40;
	background: -webkit-linear-gradient(center top,#c40,#800400);
	background: -ms-linear-gradient(center top,#c40,#800400);
	background: -moz-linear-gradient(center top,#c40,#800400);
	border:2px solid #000;
	border-radius: 10px;
	position: relative;
	top:-40px;
	left: 45px;
	z-index: 4;
	
}
.main .choker .bell{
	width: 40px;
	height: 40px;
	_overflow:hidden;
	border:2px solid #000;
	border-radius: 50px;
	background: #f9f12a;
	background: -webkit-linear-gradient(top,#f9f12a,#e9e11a 75%,#a9a100);
	background: -moz-linear-gradient(top,#f9f12a,#e9e11a 75%,#a9a100);
	background: -ms-linear-gradient(top,#f9f12a,#e9e11a 75%,#a9a100);
	background: linear-gradient(top,#f9f12a,#e9e11a 75%,#a9a100);
	box-shadow: -5px 5px 10px rgba(0,0,0,0.25);
	position: absolute;
	top:5px;
	left: 90px;
}
.main .choker .bell_line{
	width: 36px;
	height: 2px;
	background: #f9f12a;
	border: 2px solid #333;
	border-radius: 3px 3px 0 0;
	position: absolute;
	top:10px;
}
.main .choker .bell_circle{
	width: 12px;
	height: 10px;
	background: #000;
	border-radius: 5px;
	position: absolute;
	top:20px;
	left: 14px;
}
.main .choker .bell_under{
	width: 3px;
	height: 15px;
	background: #000;
	position: absolute;
	left: 18px;
	top:27px;
}
.main .choker .bell_light{
	width: 12px;
	height: 12px;
	border-radius: 10px;
	box-shadow: 19px 8px 5px #fff;
	position: absolute;
	top:-5px;
	left: 5px;
	opacity: 0.7;
}
.main .bodys{
	position: relative;
	top:-310px;
}
.main .bodys .body{
	width: 220px;
	height: 165px;
	background: #07beea;
	background:-webkit-linear-gradient(right,#07beea,#0073b3 50%,#00b0e0 75%,#0096be 100%);
	background:-ms-linear-gradient(right center,#07beea,#0073b3 50%,#00b0e0 75%,#0096be 100%);
	background:-moz-linear-gradient(right center,#07beea,#0073b3 50%,#00b0e0 75%,#0096be 100%);
	background:linear-gradient(right center,#07beea,#0073b3 50%,#00b0e0 75%,#0096be 100%);
	border:2px solid #333;
	position: absolute;
	top:265px;
	left: 50px;
}
.main .bodys .wraps{
	width: 170px;
	height: 170px;
	background: #fff;
	position: absolute;
	top:230px;
	left: 72px;
	border:2px solid #000;
	border-radius: 85px;
	background: -webkit-linear-gradient(right top,#fff,#fff 75%,#eee 83%,#999 90%,#444 95%,#000);
	background: -ms-linear-gradient(right top,#fff,#fff 75%,#eee 83%,#999 90%,#444 95%,#000);
	background: -moz-linear-gradient(right top,#fff,#fff 75%,#eee 83%,#999 90%,#444 95%,#000);
	background: linear-gradient(right top,#fff,#fff 75%,#eee 83%,#999 90%,#444 95%,#000)
}
.main .bodys .pocket{
	width: 130px;
	height: 130px;
	background: #fff;
	position:absolute;
	top:250px;
	left: 92px;
	border:2px solid #000;
	border-radius: 65px;
	background: -webkit-linear-gradient(right top,#fff,#fff 70%,#f8f8f8 75%,#eee 80%,#ddd 88%,#fff);
	background: -ms-linear-gradient(right top,#fff,#fff 70%,#f8f8f8 75%,#eee 80%,#ddd 88%,#fff);
	background: -moz-linear-gradient(right top,#fff,#fff 70%,#f8f8f8 75%,#eee 80%,#ddd 88%,#fff);
	background: linear-gradient(right top,#fff,#fff 70%,#f8f8f8 75%,#eee 80%,#ddd 88%,#fff);
}
.main .bodys .pocket-mask{
	width: 134px;
	height: 60px;
	background: #fff;
	border-bottom: 2px solid #000;
	position: absolute;
	top:259px;
	left: 92px;
}
.main .hand_right,.main .hand_left{
	height: 100px;
	width: 100px;
	position: absolute;
	top:272px;
	left: 248px;
}
.main .hand_left{
	left: -10px;
}
.main .arm{
	width: 80px;
	height: 50px;
	background: #07beea;
	background: -webkit-linear-gradient(top,#07beea,#07beea 85%,#555);
	background: -ms-linear-gradient(center top,#07beea,#07beea 85%,#555);
	background: -moz-linear-gradient(center top,#07beea,#07beea 85%,#555);
	background: linear-gradient(center top,#07beea,#07beea 85%,#555);
	border:1px solid #000;
	box-shadow: -10px 7px 10px rgba(0,0,0,0.35);
	z-index: -1;
	position: relative;
}
.main .hand_right .arm{
	top:17px;
	-webkit-transform: rotate(35deg);
	-moz-transform: rotate(35deg);
	-ms-transform: rotate(35deg);
	-o-transform: rotate(35deg);
	transform: rotate(35deg);
}
.main .hand_left .arm{
	top:17px;
	background: #0096be;
	box-shadow: 5px -7px 10px rgba(0,0,0,0.25);
	-webkit-transform: rotate(145deg);
	-moz-transform: rotate(145deg);
	-ms-transform: rotate(145deg);
	-o-transform: rotate(145deg);
	transform: rotate(145deg);

}
.main .circle{
	width: 60px;
	height: 60px;
	border-radius: 30px;
	border:2px solid #000;
	background: #fff;
	background: -webkit-linear-gradient(right top,#fff,#fff 50%,#eee 70%,#ddd 80%,#999);
	background: -ms-linear-gradient(right top,#fff,#fff 50%,#eee 70%,#ddd 80%,#999);
	background: -moz-linear-gradient(right top,#fff,#fff 50%,#eee 70%,#ddd 80%,#999);
	background: linear-gradient(right top,#fff,#fff 50%,#eee 70%,#ddd 80%,#999);
	position: absolute;
}
.main .hand_right .circle{
	left: 40px;
	top:32px;
}
.main .hand_left .circle{
	left: -20px;
	top:32px;
}
.main .arm_rewrite{
	height: 45px;
	width: 5px;
	background: #07beea;
	position: relative;
}
.main .hand_right .arm_rewrite{
	top:-45px;
	left: 22px;
}
.main .hand_left .arm_rewrite{
	top:-45px;
	left: 60px;
	 background: #0096be;
}
.main .footer{
	width: 280px;
	height: 40px;
	position: relative;
	top:55px;
	left: 20px;
}
.main .footer .left,.main .footer .right{
	width: 125px;
	height: 30px;
	background: #fff;
	background: -webkit-linear-gradient(right top,#fff,#fff 75%,#eee 85%,#999);
	background: -ms-linear-gradient(right top,#fff,#fff 75%,#eee 85%,#999);
	background: -moz-linear-gradient(right top,#fff,#fff 75%,#eee 85%,#999);
	background: linear-gradient(right top,#fff,#fff 75%,#eee 85%,#999);
	border:2px solid #333;
	border-radius: 80px 60px 60px 40px;
	position: relative;
	box-shadow: -6px 0 10px rgba(0,0,0,0.35);
}
.main .footer .left{
	left: 8px;
	top:65px;
}
.main .footer .right{
	top: 31px;
	left:141px;
}
.main .footer .foot_rewrite{
	width: 20px;
	height: 10px;
	background: #fff;
	background: -webkit-linear-gradient(right top,#666,#fff 83%,#fff);
	background: -ms-linear-gradient(right top,#666,#fff 83%,#fff);
	background: -moz-linear-gradient(right top,#666,#fff 83%,#fff);
	background: linear-gradient(right top,#666,#fff 83%,#fff);
	border: 2px solid #333;
	position: relative;
	top:-11px;
	border-radius: 40px 40px 0 0;
	border-bottom: none;
	left: 130px;
	_left:127px;
}