html{
	height: 100%;
}
body {
      margin: 0;
      padding: 0;
      height: 100%;
    
     
}


#main{
	position: relative;
}
.box{
	padding: 15px 0 0 15px;
	float: left;
	text-align: center;
	width: 275px;
	height: auto;

}
.pic{
	padding: 10px;
	border-radius:5px;
	background-color:rgba(255,255,255,0.15);
	border:1px solid rgba(255,255,255,0.15);
	color: #1D5981;
	font-size: 12px;
	word-wrap: break-word;

	
}
.pic img{
	width: 250px;
	height: auto;

}
.pic p{
	padding: 5px 0 0 0;
	line-height: 22px;
}
.pic a{
	color: #1D5981;
}
